@media (max-width: 1200px)
    .container
        max-width: 960px
    .hotel
        &-slider
            width: 590px
    .swiper
        &-slide
            &__image
                width: 100%
                height: 100%
                object-fit: cover

@media (max-width: 992px)
    .container, .newsletter-wrapper
        max-width: 700px
    .navbar
        &-top
            padding: 30px 0
        &__search
            margin-left: auto
        &-menu
            padding: 22px 0
            &__link
                font-size: 12px
                line-height: 15px
    .search
        &__input
            width: 340px
    .logo
        width: 132px
    .hotel
        &-grid
            flex-direction: column
            &__info
                flex-direction: row
        &__slider
            margin-bottom: 30px
        &-slider
            width: 100%
    .booking, .map
        width: 340px
        min-height: 210px
    
@media (max-width: 768px)
    .container
        max-width: 562px
        width: 92%
    .navbar
        &-menu, &__search, &__user
            display: none
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #fff
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
        &-slider
            height: 350px
        &-grid
            &__info
                flex-direction: column
                height: 450px
    .stars
        flex-basis: auto 
    .booking
        width: 100%
    .map
        width: 100%
    .newsletter
        padding: 76px 0 83px 0
        &-wrapper
            max-width: 562px
            width: 92%
            flex-direction: column
            align-items: flex-start
        &-title
            width: 100%
        &__title
            margin-bottom: 37px
@media (max-width: 576px)
    .logo
        width: 99px
    .hotel
        &-slider
            height: 250px
        &__slider
            margin-bottom: 20px
    .newsletter
        padding: 67px 0 80px 0
        &-title
            font-style: normal
            font-weight: 300
            font-size: 20px
            line-height: 25px
            &__strong
                margin-top: 5px
                font-size: 30px
                line-height: 38px
        &__title
            margin-bottom: 30px
    .subscribe
        width: 280px
        &__input
            padding-left: 20px

@media (min-width: 320px) and (max-width: 450px)
    .hotel
        &-slider
            height: 210px
    .newsletter
        padding: 67px 0 75px 0
        &-title
            font-size: 18px
            &__strong
                font-size: 28px
        &__title
            margin-bottom: 20px
    