.newsletter
    position: relative
    padding: 98px 0 87px 0
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    background: transparent
    &:before
        content: ''
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        height: 100%
        width: 100%
        background-color: rgba($bg-dark, 0.8)
    &-wrapper
        position: relative
        max-width: 731px
        margin: auto
        display: flex
        align-items: center
        justify-content: space-between
    &-title
        margin: 0
        width: 50%
        display: flex
        flex-direction: column
        color: $text-menu-color
        font-style: normal
        font-weight: 300
        font-size: 24px
        line-height: 30px
        &__strong
            font-style: normal
            font-weight: 600
            font-size: 36px
            line-height: 45px
            text-transform: uppercase

.subscribe
    display: flex
    flex-direction: row-reverse
    width: 350px
    overflow: hidden
    &-block
        position: relative
    &__input
        top: 0
        width: 285px
        height: 55px
        border: none
        padding-left: 33px
        padding-right: 75px
        border-radius: 4px 0 0 4px
        outline: none
        &::placeholder 
            color: $footer-text-color
            font-style: normal
            font-weight: normal
            font-size: 12px
            line-height: 15px
            opacity: 1
    &__button
        right: 0
        top: 0
        height: 55px
        min-width: 65px
        border: none
        border-radius: 0 4px 4px 0
        background-color: $primary
        color: $text-menu-color
        cursor: pointer
        font-style: normal
        font-weight: bold
        font-size: 12px
        line-height: 15px
